.auth-container {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}

.auth-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-image-container {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.auth-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 2.5rem;
  color: #1a73e8;
  margin-bottom: 2rem;
}

form {
  width: 100%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.button-submit {
  width: 100%;
  padding: 12px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}
.button-submit:hover {
  background-color: #1a73e8;
  color: white;
}
p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

p span {
  color: #1a73e8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-image-container {
    display: none;
  }

  .auth-form-container {
    padding: 1rem;
  }
}
