.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/Images/heroimage.jpg");
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #1a73e8;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero blockquote {
  font-style: italic;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
